* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #9bbc0f;
    font-family: "Press Start 2P", cursive;
    background-image: url("../images/giphygif.gif");
    background-repeat: no-repeat;
    background-size: auto;
}

:root {
    --darkest: #0f380f;
    --dark: #306230;
    --light: #8bac0f;
    --lightest: #9bbc0f;
}

h1 {
    color: var(--darkest);
    text-align: center;
    padding-top: 20px;
}

h2 {
    color: var(--dark);
    margin-top: 50px;
    text-align: center;
    padding: 25px 0 25px 0;
}

#blink-me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    1% {
        opacity: 0;
    }
}

p {
    color: var(--dark);
    margin: 10px 150px;
    text-align: center;
}

.flex-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    width: 100px;
    height: 50px;
    margin-top: 50px;
    border-radius: 16px;
    background-color: var(--light);
    color: var(--darkest);
    outline: none;
    font-family: "Press Start 2P", cursive;
    font-size: 13px;
}

.hideAndSeek {
    visibility: hidden;
}

.flex-container-1,
.flex-container-2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0 200px;
}

#question {
    margin: 10px 150px;
}

.flex-item {
    width: 200px;
    height: 100px;
    background-color: var(--light);
    outline: none;
    border-radius: 16px;
    font-family: "Press Start 2P", cursive;
    font-size: 13px;
    color: var(--darkest);
    margin-top: 25px;
}

h3 {
    color: var(--darkest);
    padding-top: 50px;
    text-align: center;
}

.flex-footer {
    margin: 0 150px;
}

footer {
    background-color: var(--lightest);
    color: var(--darkest);
    text-align: center;
    margin-top: auto;
    width: 100%;
    padding: 20px 0;
}
